# for looooooop and in

In [ ]:
cargo =["tv","vcr","lcd","cisco","apple"]
for machine in cargo:
    print("welcome to pakistan"+"=="+ machine.title() + ".")

In [ ]:
for ahmed in range (1,10,2):#even =(0,10,2) odd 1,10,2
    print(ahmed,"aa")

In [ ]:
for kk in range(5,9):#start + numfinder
    print("fahad",kk)

In [ ]:
a_1 =[123,"fahad",11111,1111,111,True]
print(a_1)

# finding num and its original type

In [ ]:
for num in a_1:
    print(num,type(num))

In [ ]:
a_1[1:3]

In [ ]:
for gg  in range(1,10,2):
    print("odd numbers",gg)

In [ ]:
abc=[221,3,44,55,66,76,64,23]

In [ ]:
odd =[]
even=[]
for members in abc:
    if members%2==0:
        odd.append(members)
    else:
        even.append(members)
print("even")
for evens in even:
    print(evens,end=" ")
print("\nodd")
for odds in odd:
    print(odds,end=" ")

In [ ]:
friends=["ahmed","fahad","talha","erum"]
relative=["erum","ahmed","waqs","aaaa" ]
close_friend=[]
message=" "

In [ ]:
for members in friends:
    if members in relative:
        close_friend.append(members)
print(close_friend)
for members in close_friend:
    print("my close friends ",members)

In [ ]:
for members in friends:
    if members in relative:
        close_friend.append(members)
        print(close_friend)
# for members in close_friend:
#     print("my close friends ",members)

In [ ]:
ab3=[1,2,3,4,5,6,7,98,7,8,]

# new work

In [ ]:
current_user=["Msk","junejo","giga","azhr"]
new_user=["Azhr","fahad","Msk","irtiza"]
for members in new_user:
    if members.upper() in current_user:
        print("\nenter new user name"+":",members)
    else:
        print("\nuser name is  available"+":",members)

In [ ]:
#formating==={}place holder..place f before in print command

In [ ]:
name ="ahmed"
dusra_naam ="asad" 
print(f"i am {name}  who is  {dusra_naam}")

In [ ]:
kali=45
bali="akhbar"
print("may god bless {1} take this {0}".format(kali,bali))

# tupple //packing of values for loop is work in index/len is for lenght

In [ ]:
mytupple =("apple","tetli","kahkorch")

In [ ]:
type(mytupple)

In [ ]:
mytupple[1]

In [ ]:
mytupple[0:2]

In [ ]:
a=123,321,45676,222,22223445
print(a)

In [ ]:
a

In [ ]:
f,e,d,c,b=a

In [ ]:
b

In [ ]:
c

In [ ]:
d

In [ ]:
e

In [ ]:
f

In [1]:
cities =("atlanta","city","karachi",)
mytown = cities[2]

print("i love\t" +   cities[2].upper())

i love	KARACHI

In [2]:
tup1= ("ppp","ggg","hhhh",2000)
tup2 =(1,2,3,4,56,77,54,54)
print("tup1[0]\t",tup1[0])
print("tup2[1::]",tup2[0::2])

tup1[0]	 ppp
tup2[1::] (1, 3, 56, 54)

In [3]:
tup1 =(111,22,33)
tup2 =("abc","fff")
tup3=tup2+tup1
print(tup3)

('abc', 'fff', 111, 22, 33)

In [4]:
print("after del tup3::")
del tup3
print(tup3)

after del tup3::

NameError: name 'tup3' is not defined

In [5]:
ahmed = ("aaa",111,222,333)
print(len(ahmed))

4

In [6]:
fruits=("banana","kiwi","grapes","orange")
if "strawberry" in fruits:
    print("eat it")
else:
    print("buy it first then eat that")

buy it first then eat that

In [7]:
for eat in fruits:
    
    print(eat)

banana
kiwi
grapes
orange

# dictionary.{key' :'value','key' :'value'} no index no seq

In [8]:
cat={'aliien':'giga',"fahad":"65756","alin":"gega"}
print(cat["alin"])
print(cat['fahad'])

gega
65756

In [9]:
myDic = {1:2}

In [10]:
myDic1 = {1:"aaa"}

In [11]:
myDic2 = {"name":"dhoraji","toyota":"dhoraji"}

In [12]:
myDic3 = {"name":"dhoraji","name":"fff"}

In [13]:
myDic4=["name"]

In [14]:
myDic5 ={1:(11,22)}

In [15]:
myDic5[1][1]

22

In [23]:
myDic6={1:[1,15,74,7,8,9],2:{22:222,2222:3333,55:555}}
myDic6[1][3]

7

In [45]:
pti={}
pti['tabdeli']=['homes','uni','giga']
pti['family'] =['father',1,'mother',1,'brother',2]

print(pti)

{'tabdeli': ['homes', 'uni', 'giga'], 'family': ['father', 1, 'mother', 1, 'brother', 2]}

In [28]:
pti['family'][0]

'father'

In [49]:
foods={}
foods['caramel']=["crunch",456,"fahad",5698]

In [52]:
print(foods)
foods['caramel'][3]

{'caramel': ['crunch', 456, 'fahad', 5698]}

5698

In [61]:
players={'watson':"australian  cricketer"}
print('shane watson is a/'+ players['watson'])
players ={"imam ul haq":"parchi"}
print("imam ul haq"+ players['imam ul haq'])

shane watson is a/australian  cricketer
imam ul haqparchi

In [2]:
psl = {'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + psl['karachi'])

if psl['zalmi']=='loser':
    x_increment = 1
elif psl['zalmi']=='caa':
    x_increment=2
else:
    x_increment=3
psl['zalmi']= psl['zalmi']+str(x_increment)
print("PSL4 zalmi : "+psl['zalmi'])

Karachi is: kings
PSL4 zalmi : won3

In [4]:
dic1= {'a':1,'b':2,'c':3}
for key1 ,value1 in dic1.items():
    print(key1,value1)

a 1
b 2
c 3

In [8]:
for value1 in dic1.values():
    print(value1)

1
2
3

In [6]:
for key1 in dic1.keys():
    print(key1)

a
b
c

# a dic with similar objects

In [20]:
info={'firstname':'ahmed','last name':'raza','age':22,'city':'karachi'}
print('first name:  '+ info['firstname'].title())
print('last name: '+ info['last name'].lower())
print('age:  '+ str(info['age']))
print('city:  '  + info['city'])

first name:  Ahmed
last name: raza
age:  22
city:  karachi

In [27]:
info={'firstname':'ahmed','last name':'raza','age':22,'city':'karachi'}
#####print('first name  {}  '.format(info['firstname']).title())
print('last name: '+ info['last name'].lower())
print('age:  '+ str(info['age']))
print('city:  '  + info['city'])

last name: raza
age:  22
city:  karachi

In [34]:
teachers={'manager':'nasir','assit':'shahid'}
for cargo,supply in teachers.items():
    print('\nmy '+cargo.upper()+'   is  '+supply.lower())

my MANAGER   is  nasir

my ASSIT   is  shahid

In [54]:
teachers={'manager':'nasir','assit':'shahid'}
if 'manager'  in teachers.keys():
    print('ddddd')
else:
    print('great job')

ddddd

In [49]:
teachers={'manager':'nasir','assit':'shahid'}
for key,value in teachers.items():
    print('key:'+ key)
    
    print('value:'+ value)

key:manager
value:nasir
key:assit
value:shahid

In [71]:
teachers=[1,1,2,3,35,6,748,798,5]
sorted(teachers,)
print(teachers)

[1, 1, 2, 3, 35, 6, 748, 798, 5]

In [72]:
teachers

[1, 1, 2, 3, 35, 6, 748, 798, 5]

In [12]:
aaa=sorted(teachers,reverse=True)

In [13]:
aaa

['manager', 'assit']

In [14]:
teachers

{'manager': 'nasir', 'assit': 'shahid'}

In [15]:
a=[11,2,7,9,7]
sorted(aa,reversed)

NameError: name 'aa' is not defined

In [16]:
list1 = [1, 2, 4, 3, 5] 
print(list(reversed(list1)))

[5, 3, 4, 2, 1]

In [17]:
teachers={'manager':'nasir','assit':'shahid'}
sorted(teachers)

['assit', 'manager']

In [18]:
teachers={'manager':'nasir','assit':'shahid'}
master={'fahad':'aftab','kiflam':'agera'}
both=[teachers,master]
for a in both:
    for keys,values in a.items():
        print(keys,values)

manager nasir
assit shahid
fahad aftab
kiflam agera

# tables

In [32]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for table in[15,30,1]:
    print()
    for num in numbers:
        
        print(f'{table} * {num} = {table *num}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10