# for looooooop and in

In [ ]:
cargo =["tv","vcr","lcd","cisco","apple"]
for machine in cargo:
    print("welcome to pakistan"+"=="+ machine.title() + ".")

In [ ]:
for ahmed in range (1,10,2):#even =(0,10,2) odd 1,10,2
    print(ahmed,"aa")

In [ ]:
for kk in range(5,9):#start + numfinder
    print("fahad",kk)

In [ ]:
a_1 =[123,"fahad",11111,1111,111,True]
print(a_1)

# finding num and its original type

In [ ]:
for num in a_1:
    print(num,type(num))

In [ ]:
a_1[1:3]

In [ ]:
for gg  in range(1,10,2):
    print("odd numbers",gg)

In [ ]:
abc=[221,3,44,55,66,76,64,23]

In [ ]:
odd =[]
even=[]
for members in abc:
    if members%2==0:
        odd.append(members)
    else:
        even.append(members)
print("even")
for evens in even:
    print(evens,end=" ")
print("\nodd")
for odds in odd:
    print(odds,end=" ")

In [ ]:
friends=["ahmed","fahad","talha","erum"]
relative=["erum","ahmed","waqs","aaaa" ]
close_friend=[]
message=" "

In [ ]:
for members in friends:
    if members in relative:
        close_friend.append(members)
print(close_friend)
for members in close_friend:
    print("my close friends ",members)

In [ ]:
for members in friends:
    if members in relative:
        close_friend.append(members)
        print(close_friend)
# for members in close_friend:
#     print("my close friends ",members)

In [ ]:
ab3=[1,2,3,4,5,6,7,98,7,8,]

# new work

In [25]:
current_user=["Msk","junejo","giga","azhr"]
new_user=["Azhr","fahad","Msk","irtiza"]
for members in new_user:
    if members.upper() in current_user:
        print("\nenter new user name"+":",members)
    else:
        print("\nuser name is  available"+":",members)

user name is  available: Azhr

user name is  available: fahad

user name is  available: Msk

user name is  available: irtiza

In [26]:
#formating==={}place holder..place f before in print command

In [35]:
name ="ahmed"
dusra_naam ="asad" 
print(f"i am {name}  who is  {dusra_naam}")

i am ahmed  who is  asad

In [42]:
kali=45
bali="akhbar"
print("may god bless {1} take this {0}".format(kali,bali))

may god bless akhbar take this 45

# tupple //packing of values

In [43]:
mytupple =("apple","tetli","kahkorch")

In [44]:
type(mytupple)

tuple

In [45]:
mytupple[1]

'tetli'

In [47]:
mytupple[0:2]

('apple', 'tetli')

In [54]:
a=123,321,45676,222,22223445
print(a)

(123, 321, 45676, 222, 22223445)

In [55]:
a

(123, 321, 45676, 222, 22223445)

In [65]:
f,e,d,c,b=a

In [66]:
b

22223445

In [67]:
c

222

In [68]:
d

45676

In [69]:
e

321

In [70]:
f

123